.Nav-Bar{
    //background-color: #222831;
    background-color: #eeeeee;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 0 30px;
    //box-shadow: 0px 1px 5px #393e46;
    box-shadow: 0px 1px 5px #262626;
    z-index: 3;

    .inner{
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 20px;

        .flag{
        
            height: 2rem;
            cursor: pointer;
        }

    }
    .Logo{
        margin-top: 4px;
        font-size: 1.5rem;
        text-decoration: none;
        color:#00adb5;
        font-family: 'Khula', sans-serif;
        font-weight: 400;
    }

    .Wrapper{
        display: flex;
        align-items: center;
        gap: 20px;
    
    }

    nav{
        position: relative;
        display: flex;
        gap: 30px;

        a{
            position: relative;
            display: flex;
            flex-direction: row;
            gap: 10px;

            i{
                transition: all 0.3s ease-out;
            }

            &:link, &:visited{
                text-decoration: none;
                color: #393e46;
                //color:#8e8e8e;
            }

            &:hover{
                //color: #eeeeee;
                transition: 1.3s;
                transform: scale(1.1);
                //color: #000000;
            }

            
        }

        a.active{
            svg{
                color:#00adb5;
            }
        }

    }

}

.Burger{
    display: none;
    position: relative;
    cursor: pointer;
    
    .Burger-Bar{
    
        background-color: #393e46;
        width: 20px;
        height: 4px;
        border-radius: 5px;
        
        &:after{
            content: "";
            position: absolute;
            background-color: #393e46;
            width: 20px;
            height: 4px;
            border-radius: 5px;
            top: 8px;   
        }
        
        &:before{
            content: "";
            position: absolute;
            background-color: #393e46;
            width: 20px;
            height: 4px;
            border-radius: 5px;
            top: -8px
        }
    }
}

.Burger-Bar.Clicked{
    transform: rotate(45deg);
    transition: ease-out 0.5s;
    
    &::after{
        transform: scale(0.1);
        transition: ease-out 0.5s;
    }
    
    &::before{
        transform: rotate(90deg) translate(8px, 0);
        transition: ease-out 0.5s;
    }
}


.Burger-Bar.Unclicked {
    transform: rotate(0) translate(0);
    transition: ease-out 0.5s;

    &::after{
        transform: scale(1);
        transition: ease-out 0.5s;
    }
    
    &::before{
        transform: rotate(0deg) translate(0, 0);
        transition: ease-out 0.5s;
    }
}

@media (max-width: 950px){

    .Nav-Bar{

        justify-content: space-between;

        .Burger{
            display: initial;
        }
    
        nav{
            height: 50px;
            width: 100%;
            //background-color: #222831;
            background-color: #eeeeee;
            box-shadow: 0px 1px 5px #262626;
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 20px 50px;
            top: 0px;
            right: 0px;

            a{
                flex-direction: row;
            }
    
            &.Visible{
                height: auto;
                top: 50px;
                animation: fadeInDown 0.5s forwards;
                opacity: 0;
            }
        
            &.Hidden{
                display: none;
            }
    
        }
        
    }

}