.Job-Page{
    color: #00adb5;
    p{
        color: #262626;
    }
}

a{
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:visited{
    color: #00adb5;
}

.Proyects-Container{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
    .cards{
        display: flex;
        flex-direction: column;
        place-items: center;
        border-radius: 15px;
        box-shadow: 0px 0px 10px #262626;
        overflow: hidden;
        max-width: 300px;
        width: 100%;
        gap: 20px;

        .btns{
            display: flex;
            flex-direction: row;
            place-content: center;
            gap: 10px;
            width:90%;
            margin-bottom: 20px;
            
            .btn{
                height: 30px;
                width: 100%;
                display: grid;
                place-content: center;
                border: 1px solid #00adb5;
                cursor: pointer;
            }

            .btn:hover{
                background-color: #00adb5;
                color: #eeeeee;
            }
        }

        img{
            width: 100%;
            aspect-ratio: 16/9;
            /*height: 170px;
            width: 300px;*/
            cursor: pointer;
        }

        img:hover{
            transition: 1s;
            transform: scale(1.1);
        }
    }
}