.Hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 100%;
        max-width: 50vw;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 50%;
        animation: rollIn 1s ease-out;
    }

    .Text-Zone{
        width: 100%;
        position: relative;
        text-align: left;
        display: flex;
        flex-direction: column;
        font-family: 'Khula', sans-serif;
        gap: 0px;
    
        &::before{
            content: '\003cmain\003e';
            font-size: 14px;
            top: -40px;
            left: -20px;
            color:gray;
            position: absolute;
        }
    
        &::after{
            content: '\003c\2044 main\003e';
            font-size: 14px;
            left: -14px;
            bottom: -25px;
            color:gray;
            position: absolute;
    
        }
    
        h1{
            position: relative;
            font-family: 'Khula', sans-serif;
            font-weight: 400;
            font-size: 3rem;
            letter-spacing: 2px;
            line-height: 3.2rem;
            
            span{
                color:#00adb5;
                font-weight: 700;
            }
    
            &::before{
                content: '\003ch1\003e';
                font-size: 14px;
                top:-32px;
                color:gray;
                position: absolute;
                letter-spacing: normal;
            }
    
            &::after{
                content: '\003c\2044  h1\003e';
                font-size: 14px;
                bottom: -32px;
                color:gray;
                position: absolute;
                letter-spacing: normal;
            }
        }
    
        p{
            margin-top: 20px;
            font-family: 'Khula', sans-serif;
            font-weight: 400;
            font-size: 1.75rem;
            letter-spacing: 3px;
            margin-bottom: 50px;
            span{
                color:#00adb5;
            }
        }
    
        a{
            text-align: center;
        }
    }
    
    .Contact-Button{
        color:#00adb5;
        font-size: 1.75rem;
        font-family: 'Khula', sans-serif;
        font-weight: 600;
        letter-spacing: 4px;
        text-decoration: none;
        padding: 20px 0px;
        border: 1px solid #00adb5;
        white-space: nowrap;
        margin-right: 20px;
    
        &:hover{
            background: #00adb5;
            color: #eeeeee;
        }
    }
    
}

.Home-Page{

    h3{
        font-family: 'Khula', sans-serif;
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: 2px;
        line-height: 3.2rem;
        color:#00adb5;
    }

    .Carousel-Container{
        overflow: hidden;
        width: 100%;
        height: auto;
        margin: auto;
        
        .Carousel-Track {
            display: flex;
            width: calc(200px*12);

            animation: slide 15s linear infinite;
            &:hover {
                animation-play-state: paused;
            }

            @keyframes slide {
                0% {
                transform: translateX(0);
                }
                100% {
                    transform: translateX(-50%);
                }
            }

            .Carousel-Card {
                width: 200px;
                padding: 10px;

                img{
                    width: 100%;
                }
            }
          
          }
    }

    

}

@media (min-width: 900px) {
    
    .Hero{
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 50px 0 50px 0;
        
        img{
            object-fit: contain;
            max-height: 70vh;
            height: calc(100vh - 50px);
            border-radius: 15px;
            animation: fadeIn 1s ease-out;
        }
    }
}