.Hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;

    img{
        width: 100%;
        max-width: 400px;
        //max-width: 50vw;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 50%;
        animation: rollIn 1s ease-out;
    }

    .Text-Zone{
        width: 100%;
        position: relative;
        text-align: left;
        display: flex;
        flex-direction: column;
        font-family: 'Khula', sans-serif;
        gap: 0px;
    
        &::before{
            content: '\003cmain\003e';
            font-size: 14px;
            top: -40px;
            left: -20px;
            color:gray;
            position: absolute;
        }
    
        &::after{
            content: '\003c\2044 main\003e';
            font-size: 14px;
            left: -14px;
            bottom: -25px;
            color:gray;
            position: absolute;
    
        }
    
        h1{
            position: relative;
            font-family: 'Khula', sans-serif;
            font-weight: 400;
            font-size: 3rem;
            letter-spacing: 2px;
            line-height: 3.2rem;
            
            span{
                color:#00adb5;
                font-weight: 700;
            }
    
            &::before{
                content: '\003ch1\003e';
                font-size: 14px;
                top:-32px;
                color:gray;
                position: absolute;
                letter-spacing: normal;
            }
    
            &::after{
                content: '\003c\2044  h1\003e';
                font-size: 14px;
                bottom: -32px;
                color:gray;
                position: absolute;
                letter-spacing: normal;
            }
        }
    
        p{
            margin-top: 20px;
            font-family: 'Khula', sans-serif;
            font-weight: 400;
            font-size: 1.75rem;
            letter-spacing: 3px;
            margin-bottom: 50px;
            span{
                color:#00adb5;
            }
        }
    
        a{
            text-align: center;
        }
    }
    
}

.Contact-Button{
    max-width: 500px;
    width: 100%;
    text-align: center;
    color:#00adb5;
    font-size: 1.75rem;
    font-family: 'Khula', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    text-decoration: none;
    padding: 20px;
    border: 1px solid #00adb5;
    white-space: nowrap;
    /*margin-right: 20px;*/

    &:hover{
        background: #00adb5;
        color: #eeeeee;
    }
}

.Home-Page{

    h3{
        font-family: 'Khula', sans-serif;
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: 2px;
        line-height: 3.2rem;
        color:#00adb5;
    }

    .Carousel-Container{
        overflow: hidden;
        width: 100%;
        height: auto;
        margin: auto;
        
        .Carousel-Track {
            display: flex;
            width: calc(200px*12);

            animation: slide 15s linear infinite;
            &:hover {
                animation-play-state: paused;
            }

            @keyframes slide {
                0% {
                transform: translateX(0);
                }
                100% {
                    transform: translateX(-50%);
                }
            }

            .Carousel-Card {
                width: 200px;
                padding: 10px;

                img{
                    width: 100%;
                }
            }
          
          }
    }
}

.Projects-Wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.Project-Card{
    position: relative;
    max-width: 500px;
    aspect-ratio: 16/9;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(black, 0.5);
    &:hover{
        &:before{
            opacity: 1;
        }
        .Info{
            opacity: 1;
            transform: translateY(0px);
        }
    }
		
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 15px;
		background: rgba(black, 0.6);
		z-index: 2;
		transition: 0.5s;
		opacity: 0;
    }
}

.Images{
    width: 100%;
	height: 100%;
	object-fit:cover;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 15px;
}

.Info{
    //padding: 20px;
    width: 100%;
    position: relative;
    z-index: 3;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
    p{
        letter-spacing: 1px;
        font-size: 15px;
    }
    .Contact-Button{
        padding: 0.25em;
    }
}

@media (min-width: 900px) {
    
    .Hero{
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 50px 0 50px 0;
        gap: 20px;
        
        img{
            object-fit: contain;
            //max-height: 40vh;
            //height: calc(100vh - 50px);
            border-radius: 0px;
            animation: fadeIn 1s ease-out;
        }
    }
}