.Contact{

    .Text-Zone{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;


        h1{
            color:#00adb5;
            font-family: 'Khula', sans-serif;
            font-weight: 600;
            font-size: 2.5rem;
            letter-spacing: 3px;
        }

        p{
            text-align: justify;
        }



    }
    
    .Contact-Form{
        width: 100%;

        ul{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-gap: 20px;
            text-align: justify;
            
            li{
                width: 100%;

                label{
                    color: #00adb5;
                }

                input{
                    width: 100%;
                    height: 40px;
                    border: 1px solid #222831;
                    padding: 0px 20px;
                    color: #00adb5;
                    //color: #eeeeee;
                    //background: #393e46;
                    background-color: #DFDFDF;
                    box-sizing: border-box;
                    font-family: 'Roboto', sans-serif;
                    letter-spacing: 0.5px;
                    font-size: 1rem;
                    
                    &:focus{
                        outline: none;
                        border: 1px solid #00adb5;
                    }

                    &[type=submit]{
                        border: 1px solid #00adb5;
                        cursor: pointer;
                        color: #00adb5;
                        text-decoration: none;
                        letter-spacing: 3px;
                        font-size: 1.25rem;

                        &:hover{
                            background-color: #00adb5;
                            color: #eeeeee;
                        }
                    }
                    
                }

                display: inline-block;
                list-style: none;
                overflow: hidden;
                opacity: 0;
                animation: fadeInUp 1s 1s;
                animation-fill-mode: forwards;

                textarea{
                    width: 100%;
                    min-height: 150px;
                    border: 1px solid #222831;
                    padding: 10px 20px;
                    color: #00adb5;
                    //color: #eeeeee;
                    //background: #393e46;
                    background-color: #DFDFDF;
                    box-sizing: border-box;
                    resize: none;
                    font-family: 'Roboto', sans-serif;
                    letter-spacing: 0.5px;
                    font-size: 1rem;

                    &:focus{
                        outline: none;
                        border: 1px solid #00adb5;
                    }
                }
            }

            li.Full{
                grid-column: 1/3;
            }

        }
    }

    .Map{
        width: 100%;
        height: 60vh;
        background-color: #222831;
    }
}

.leaflet-container{
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeInUp 1s 1s;
    animation-fill-mode: forwards;
}

@media (max-width:900px) {

    .Contact{
        max-width: 95vw;
        li:first-child, li:nth-child(2){
            grid-column: 1/3;
        }
    }
}